[Unit]
Description=Node.js Service for bluetooth-device
After=network.target

[Service]
ExecStart=/home/orangepi/.local/share/fnm/aliases/default/bin/node /home/orangepi/bluetooth-device/dist/index.js
User=orangepi
Restart=always
WorkingDirectory=/home/orangepi/bluetooth-device

[Install]
WantedBy=multi-user.target
